go 1.23.4

// TODO: Open issue to solve multimodule test execution: https://github.com/golang/go/issues/50745
// Added bash script to execute all test and coverage

use (
	.
	internal/infrastructure
	internal/e2e
	internal/domain
	internal/application
)
